PRIVATE_KEY=
SALT=
REPORT_GAS=true
TS_NODE_TRANSPILE_ONLY=1

# Add your own Tenderly fork ID
TENDERLY_FORK_ID=

# Add your own API key by getting an account at etherscan (https://etherscan.io), snowtrace (https://snowtrace.io) etc. 
# This is used for verification purposes when you want to `npx hardhat verify` your contract using Hardhat
# The same API key works usually for both testnet and mainnet

ETHERSCAN_API_KEY=

# Below are working open RPC clients
# Find more available RPC URLs at https://rpc.info
# You can also use Alchemy, Moralis, Infura, or any other custom RPC

ETH_MAINNET_URL=
ETH_GOERLI_TESTNET_URL=