{
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "max-len": 0,
    "eol-last": ["error", "always"]
  },
  "globals": {
    "assert": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "artifacts": true,
    "contract": true,
    "web3": true
  },
  "ignorePatterns": ["**/hmt_subgraph/*", "**/private-provider.js"]
}
