version: '2'
services:

  job:
    image: hcaptcha/hmt-escrow:latest
    build: .
    environment:
      - HMT_ETH_SERVER=http://ganache:8545
      - HET_WAIT_FOR_SERVER=http://het:8000
      - GAS_LIMIT=6700000
      - IPFS_HOST=ipfs
      - IPFS_PORT=5001
      - ESCROW_BUCKETNAME=escrow-results
      - ESCROW_AWS_ACCESS_KEY_ID=minio
      - ESCROW_AWS_SECRET_ACCESS_KEY=minio123
      - ESCROW_ENDPOINT_URL=http://minio:9000
      - ESCROW_AWS_DEFAULT_REGION=us-west-2
      - DEBUG=true
      - USE_ESCROW_S3_STORAGE=True
    command: /work/bin/wait_then_run
    depends_on:
      - minio
    links:
      - ganache
      - ipfs
      - hmt
      - kvstore
    volumes:
      - hmt_token_addr:/deployed-hmtoken
      - eth_kvstore_addr:/deployed-kvstore
      - ./minio:/data
      - .:/work

  contracts:
    environment:
      - ETH_HOST=ganache
      - ETH_PORT=8545
    command: sh -c "npm install; npm run test"
    image: hcaptcha/hmt-escrow:latest
    links:
      - ganache

  ganache:
    image: trufflesuite/ganache-cli:v6.9.1
    command: node ./build/cli.node.js --noVMErrorsOnRPCResponse -m goat --hostname 0.0.0.0 --unlock 0x1413862c2b7054cdbfdc181b83962cb0fc11fd92 -g 1000
    ports:
      - 8545:8545

  hmt:
    image: hcaptcha/hmt-token
    links:
      - ganache
    environment:
      - ETH_HOST=ganache
      - ETH_PORT=8545
    command: sh -c "rm /deployed/hmt.address.json; curl --retry 10 --retry-connrefused --retry-max-time 10 http://ganache:8545 && npm run compile && python -m SimpleHTTPServer"
    volumes:
      - hmt_token_addr:/deployed

  kvstore:
    image: hcaptcha/eth-kvstore
    links:
      - ganache
    environment:
      - ETH_HOST=ganache
      - ETH_PORT=8545
      - ADDRESS_OUTPUT_FILENAME=/deployed/ethkvstore.address.json
    volumes:
      - eth_kvstore_addr:/deployed

  ipfs:
    image: ipfs/go-ipfs:v0.4.22
    command: daemon --offline
    ports:
      - 5001:5001
  
  minio:
    image: minio/minio:RELEASE.2020-04-28T23-56-56Z
    ports:
      - "9000:9000"
    expose:
      - "9000"
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    entrypoint: sh -c 'minio server /data/'
    volumes:
      - ./minio:/data

volumes:
  hmt_token_addr:
  eth_kvstore_addr:
