[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
web3 = "==4.8.2"
ipfsapi = "*"
py-solc = "*"
yapf = "*"
schematics = "==2.1.0"
py-evm = "*"
mypy = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
