[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
web3 = "==4.8.3"
py-solc = "*"
yapf = "*"
py-evm = "==0.2.0a37"
mypy = "*"
hmt-basemodels = "==0.0.18"
timeout-decorator = "*"
ipfshttpclient = "==0.4.13.2"
sphinx = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
