[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
web3 = "==4.8.3"
ipfsapi = "*"
py-solc = "*"
yapf = "*"
py-evm = "==0.2.0a37"
mypy = "*"
hmt-basemodels = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
