{
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "root": true
}
